# this notebook is based on the following study
# https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6687414/

In [1]:
# make sure changes in code take place immediately
# this is a developer setting, don't need it for production

%load_ext autoreload
%autoreload 2

%reload_ext chapyter

In [2]:
import os
os.environ["NOTEBOOK_NAME"] = "Xu_sepsis_Sept28.ipynb"

## Let the study begin!

In [3]:
%%mimicSQL

Retrieve all data from PATIENTS table where patients have “sepsis,” “severe sepsis,” or “septic shock”. Explain what youre doing. Include patient age and gender as columns. I also want to know if each patient died in the hospital.

To retrieve the data you're asking for, we need to join the PATIENTS table with the DIAGNOSES_ICD and ADMISSIONS tables. The DIAGNOSES_ICD table contains the ICD-9 codes for diagnoses, and the ADMISSIONS table contains information about the patient's hospital stay, including whether they died in the hospital.

The ICD-9 codes for "sepsis," "severe sepsis," and "septic shock" are 99591, 99592, and 78552 respectively.

Here is the SQL query:

This query will return the patient's ID, gender, age at the time of admission, and a flag indicating whether the patient died in the hospital. The flag is 1 if the patient died in the hospital and 0 otherwise. The patients included in the results are those who have been diagnosed with sepsis, severe sepsis, or septic shock.

In [4]:
%%runSQL 


SELECT p.subject_id, p.gender, 
       DATE_DIFF('year', p.dob, a.admittime) AS age,
       a.hospital_expire_flag
FROM patients p
JOIN admissions a ON p.subject_id = a.subject_id
JOIN diagnoses_icd d ON p.subject_id = d.subject_id
WHERE d.icd9_code IN ('99591', '99592', '78552')

  subject_id gender age hospital_expire_flag
0        250      F  23                    1
1        250      F  23                    1
2        269      M  40                    0
3        269      M  40                    0
4        689      F  56                    0

SYS PROMPT Return a variable name that would befit a dataframe containing the results from this SQL query. Names that are not allowed include dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__builtin__', '__builtins__', '_ih', '_oh', '_dh', 'In', 'Out', 'get_ipython', 'exit', 'quit', 'open', '_', '__', '___', '_i', '_ii', '_iii', '_i1', '_i2', 'os', '_i3', '_i4'])
Results stored in dataframe:  patient_admission_diagnosis

In [5]:
%%mimicSQL

Im sure there must be more icd codes than that! Help me find all the potential sepsis patients.

You're correct, there are more ICD-9 codes that could indicate a sepsis condition. In addition to the ones we've already used, we could also consider codes for systemic inflammatory response syndrome (SIRS), which is often associated with sepsis. The codes for SIRS due to infectious process with and without organ dysfunction are 99590 and 99591 respectively.

We could also consider codes for specific types of sepsis, such as streptococcal sepsis (0380), staphylococcal sepsis (0381), and other septicemia (0389).

Here is the updated SQL query:

This query will return the same columns as before, but now it includes patients who have been diagnosed with SIRS or specific types of sepsis in addition to general sepsis, severe sepsis, and septic shock.

In [5]:
%%runSQL 


SELECT p.subject_id, p.gender, 
       DATE_DIFF('year', p.dob, a.admittime) AS age,
       a.hospital_expire_flag
FROM patients p
JOIN admissions a ON p.subject_id = a.subject_id
JOIN diagnoses_icd d ON p.subject_id = d.subject_id
WHERE d.icd9_code IN ('99591', '99592', '78552', '99590', '0380', '0381', '0389')

  subject_id gender age hospital_expire_flag
0        250      F  23                    1
1        250      F  23                    1
2        268      F  65                    1
3        269      M  40                    0
4        269      M  40                    0

SYS PROMPT Return a variable name that would befit a dataframe containing the results from this SQL query. Names that are not allowed include dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__builtin__', '__builtins__', '_ih', '_oh', '_dh', 'In', 'Out', 'get_ipython', 'exit', 'quit', 'open', '_', '__', '___', '_i', '_ii', '_iii', '_i1', '_i2', 'os', '_i3', '_i4', 'patient_admission_diagnosis', '_i5'])
Results stored in dataframe:  patient_admission_diagnosis_results

In [6]:
%%mimicPython

How many patients do we have in each dataframe?

To find out how many patients we have in each dataframe, we can use the `shape` attribute of the dataframe, which returns a tuple representing the dimensions of the dataframe. The first element of the tuple is the number of rows, which corresponds to the number of patients in this case.

Here is the Python code:

In [7]:
##AI-generated-code


num_patients_admission_diagnosis = patient_admission_diagnosis.shape[0]
num_patients_admission_diagnosis_results = patient_admission_diagnosis_results.shape[0]

print("Number of patients in patient_admission_diagnosis: ", num_patients_admission_diagnosis)
print("Number of patients in patient_admission_diagnosis_results: ", num_patients_admission_diagnosis_results)

Number of patients in patient_admission_diagnosis:  17419
Number of patients in patient_admission_diagnosis_results:  26199