# this notebook is based on the following study
# https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6687414/

In [1]:
# make sure changes in code take place immediately
# this is a developer setting, don't need it for production

%load_ext autoreload
%autoreload 2

%reload_ext chapyter

In [2]:
import os
os.environ["NOTEBOOK_NAME"] = "Xu_sepsis_Sept28.ipynb"

## Let the study begin!

In [ ]:
%%mimicSQL

Retrieve all data from PATIENTS table where patients have “sepsis,” “severe sepsis,” or “septic shock”. Explain what youre doing. Include patient age and gender as columns. I also want to know if each patient died in the hospital.

In [5]:
%%runSQL 


SELECT p.subject_id, p.gender, 
       DATE_DIFF('year', p.dob, a.admittime) AS age_at_admission,
       a.hospital_expire_flag
FROM patients p
JOIN admissions a ON p.subject_id = a.subject_id
JOIN diagnoses_icd d ON p.subject_id = d.subject_id
WHERE d.icd9_code IN ('99591', '99592', '78552')

  subject_id gender age_at_admission hospital_expire_flag
0        250      F               23                    1
1        250      F               23                    1
2        269      M               40                    0
3        269      M               40                    0
4        689      F               56                    0

Storing data in dataframe:  sepsis_patient_admissions_df

In [ ]:
%%mimicSQL

Im sure there must be more icd codes than that! Help me find all the potential sepsis patients.

In [6]:
%%runSQL 


SELECT p.subject_id, p.gender, 
       DATE_DIFF('year', p.dob, a.admittime) AS age_at_admission,
       a.hospital_expire_flag
FROM patients p
JOIN admissions a ON p.subject_id = a.subject_id
JOIN diagnoses_icd d ON p.subject_id = d.subject_id
WHERE d.icd9_code IN ('99591', '99592', '78552', '0380', '0381', '0384')

  subject_id gender age_at_admission hospital_expire_flag
0        250      F               23                    1
1        250      F               23                    1
2        269      M               40                    0
3        269      M               40                    0
4        689      F               56                    0

Storing data in dataframe:  sepsis_patient_admissions_df

In [ ]:
%%mimicPython

Which dataset has more patients in it? And by how much?

In [ ]:
##AI-generated-code


# Count the number of unique patients in each dataset
num_patients_sepsis = sepsis_patient_admissions_df['subject_id'].nunique()
num_patients_all = patients_df['subject_id'].nunique()

# Calculate the difference in the number of patients
difference = abs(num_patients_sepsis - num_patients_all)

# Determine which dataset has more patients
if num_patients_sepsis > num_patients_all:
    print(f"The sepsis_patient_admissions_df dataset has more patients by {difference}.")
elif num_patients_sepsis < num_patients_all:
    print(f"The patients_df dataset has more patients by {difference}.")
else:
    print("Both datasets have the same number of patients.")